<h2>Add New Car</h2>

<%= form_for @car do |f| %>
  <%= f.label :manufacturer_id %>
  <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name) %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.label :year %>
  <%= f.number_field :year %>
  <%= f.label :mileage %>
  <%= f.number_field :mileage %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit "Submit", class: "button" %>
<% end %>
